
html {
	background: #e6ffff;
}
body {
    
}

< .content {
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.temp-title {
	font-family: 'Lato', sans-serif;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
h1 {
	color: #0000A0;
	font-size: 400%;
	margin-bottom: 0px;
}

img{
       border-radius: 8 px;
       display:block;
       margin-left: auto;
       margin-right:auto;
       height: 500px;
       width: 35%;
}


p.desc {
	color: #ffffff;
	margin-top: -3px;
	padding-bottom: 10px;
}

a.button {
/*	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;*/
	padding: 5px;
	background: #e6ffff;
	border-radius: 2px;
	text-decoration: none;
	color: #0000A0;
}
a.button:hover {
	background: #e6ffff;
	color: #black; 
}
