html {
	/* logo old borderless */
	/*background: #797979;*/
	/* logo bright */
	background: #cd0000;
}
body {
}
.content {
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.temp-title {
	font-family: 'Lato', sans-serif;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
h1 {
	color: #002878;
	font-size: 400%;
	margin-bottom: 0px;
}
p.desc {
	/*color: #2d4ea4;*/
	margin-top: -3px;
	padding-bottom: 10px;
}
a.button {
/*	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;*/
	padding: 5px;
	background: #ffd900;
	border-radius: 2px;
	text-decoration: none;
	color: #cd0000;
}
a.button:hover {
	background: #cd3500;
	color: #ffd900;
}