html {
	background: #abf5db;
}
body {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.content {
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.release-box {
	vertical-align: middle;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	padding: 20px;
	border-width: 2px;
	border-color: #51a688;
	border-style: solid;
}
h1 {
	color: #002878;
	font-size: 400%;
	margin-bottom: 0px;
}
.release-title {
	color: #51a688;
	font-size: 200%;
	margin-bottom: 0px;
	margin-top: 0px;
}
p.desc {
	/*color: #2d4ea4;*/
	margin-top: -3px;
	padding-bottom: 10px;
}
a.button {
/*	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;*/
	padding: 5px;
	background: #51a688;
	border-radius: 2px;
	text-decoration: none;
	color: black;
}
a.button:hover {
	background: #7fdbbb;
	color: black;
}
.page-title {
	top: 0;
	width: 100%;
	position: fixed;
	font-size: 80%;
}
h1 {
	margin-top: 15px;
	color: #51a688;
}